.Footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #232f3eff;
    color: white;
    /* padding: 1rem 1rem 3rem 1rem; */
    margin-top: 2rem;
}

.Footer ul{
    padding: 1rem 0;
    list-style: none;
}

.Footer ul li{
    padding: 0.5rem 0;
    font-size: 0.95rem;
    cursor: pointer;
}